/* your styles go here */
.navbar{
    background: #fff;
}
.navbar ul.navbar-nav>li>a:not(.navbar-btn) {
    color: #2B7551;
}
.btn-outline-light {
    color: #2B7551;
    border-color: #2B7551;
}
.btn-outline-light:focus {
    background: #2B7551;
    color: #fff !important;
}
.job-form-section.job-form-section--compressed {
    padding: 70px;
    margin-bottom: 50px;
}
.pt-4, .py-4 {
    padding-top: 0px !important;
}
.footer__block {
    background: #363839;
}
.footer__copyright{
    background: #282a2b;
}
.card{
    margin: 40px 0px 100px 0px;
}
section {
    padding-top: 20px;
    margin-bottom: 20px;
}
.sub-header{
    padding-bottom: 0px;
}
.job-form-section.job-form-section--image {
    background: center center url(images/bg2.jpg) no-repeat;
    background-size: cover;
}
/**Dashboard Statbox Widget**/
.statbox{
    background:#fff;
    margin:0 0 30px;
    border:solid 1px #ccc;
    padding: 25px 15px;
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,.04);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,.04);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,.04);
}
.statbox .title, .statbox .value {
    text-align: right;
    padding-right: 3px;
}
.statbox .title {
    color: #2B7551;
    display: block;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}
.statbox .title+.value {
    margin-top: -3px;
}
.statbox .title, .statbox .value {
    text-align: right;
    padding-right: 3px;
}
.statbox .value {
    font-size: 20px;
    font-weight: 600;
}
.statbox .visual {
    padding: 15px;
    float:left;
}
.item-block {
    display: block;
    margin-top: 30px;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    transition: .3s ease-in-out;
}
.item-block header img {
    width: 64px;
    margin-right: 30px;
    float: left;
}
.item-block header h4, .item-block header h5, .item-block header h6 {
    font-family: Open Sans,sans-serif;
    font-weight: 300;
    margin: 0;
}
.item-block header .hgroup {
    display: inline-block;
}
.item-block header {
    padding: 20px 30px;
    border-bottom: 1px solid #f6f6f6;
}
.item-block header h5 {
    font-size: 17px;
    margin-top: 6px;
    color: #96a2b2;
}
.item-block header .location, .item-block header .rate {
    display: block;
    color: #96a2b2;
    line-height: 35px;
}
.item-block header .header-meta {
    float: right;
    text-align: right;
}